<Header>
    <nav class="relative flex flex-row w-full flex-wrap items-center justify-between bg-gray-800 py-2 shadow-dark-mild lg:py-4">
        <div class="flex items-center px-3">
          <h1 class="text-xl sm:text-2xl text-white font-bold px-2">Benjamín Contreras Del Río</h1>
        </div>
        <div class="hidden lg:flex flex-row px-2">
          <a routerLink="aboutme" routerLinkActive="underline" class="block border-0 bg-transparent px-2 text-2xl text-white hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0">Sobre mi</a>
          <a routerLink="skills" routerLinkActive="underline" class="block border-0 bg-transparent px-2 text-2xl text-white hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0">Conocimientos</a>
          <a routerLink="experiences" routerLinkActive="underline" class="block border-0 bg-transparent px-2 text-2xl text-white hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 ">Experiencias</a>
          <a routerLink="projects" routerLinkActive="underline" class="block border-0 bg-transparent px-2 text-2xl text-white hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 ">Proyectos</a>
        </div>
        <button class="lg:hidden block border-0 bg-transparent px-2 text-2xl text-white font-bold hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 " (click)="toggleDropdown()">
            <svg fill="white" viewBox="0 0 50 50" width="30px" height="30px"><path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"/></svg></button>
    </nav>
    <div class="relative lg:hidden">
        <div class="top-full left-0 w-full bg-gray-800 " *ngIf="isDropdownOpen">
            <a routerLink="aboutme"  class="block px-4 py-2 text-white hover:underline">Sobre mi</a>
            <a routerLink="skills" class="block px-4 py-2 text-white hover:underline">Conocimientos</a>
            <a routerLink="experiences"  class="block px-4 py-2 text-white hover:underline">Experiencias</a>
            <a routerLink="projects" class="block px-4 py-2 text-white hover:underline">Proyectos</a>
          </div>
    </div>
</Header>